<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    {% if mars %}
    <h2>Featured Image</h2>
    <img src="{{ mars.featured_image_url }}" alt="Space_image">
    <h2>Latest Mars News</h2>
    <h3>{{ mars.news_title }}</h3>
    <p>{{ mars.news_p }}</p>
    <h3>Mars Planet Profile</h3>
    <p>{{ mars.mars_facts|safe }}</p>
    <h2>Mars Hemisphere Images</h2>
    <h3>{{ mars.mars_dict_list[0]["title"] }}</h3>
    <img src="{{ mars.mars_dict_list[0]["img_url"] }}" alt="Mars_hemisphere_Cerberus">
    <h3>{{ mars.mars_dict_list[1]["title"] }}</h3>
    <img src="{{ mars.mars_dict_list[1]["img_url"] }}" alt="Mars_hemisphere_Schiaparelli">
    <h3>{{ mars.mars_dict_list[2]["title"] }}</h3>
    <img src="{{ mars.mars_dict_list[2]["img_url"] }}" alt="Mars_hemisphere_Syrtis">
    <h3>{{ mars.mars_dict_list[3]["title"] }}</h3>
    <img src="{{ mars.mars_dict_list[3]["img_url"] }}" alt="Mars_hemisphere_Valles">



    {% endif %}
  </div>
  </div>
</body>

</html>
